<a-assets timeout="999999999">
    <a-asset-item id="test0-obj" src="assets/0.obj"></a-asset-item>
    <a-asset-item id="test0-mtl" src="assets/0.mtl"></a-asset-item>
    <a-asset-item id="test1-obj" src="assets/1.obj"></a-asset-item>
    <a-asset-item id="test1-mtl" src="assets/1.mtl"></a-asset-item>
    <a-asset-item id="test2-obj" src="assets/2.obj"></a-asset-item>
    <a-asset-item id="test2-mtl" src="assets/2.mtl"></a-asset-item>
    <a-asset-item id="test3-obj" src="assets/3.obj"></a-asset-item>
    <a-asset-item id="test3-mtl" src="assets/3.mtl"></a-asset-item>
    <a-asset-item id="museum" src="assets/default_assets/museum.obj"></a-asset-item>
</a-assets>
