  <a-assets>
    <img id="groundTexture" src="https://cdn.aframe.io/a-painter/images/floor.jpg">
    <img id="skyTexture" src="https://cdn.aframe.io/a-painter/images/sky.jpg">
    <a-asset-item id="test0-obj" src="assets/0.obj"></a-asset-item>
    <a-asset-item id="test1-obj" src="assets/1.obj"></a-asset-item>
    <a-asset-item id="test2-obj" src="assets/2.obj"></a-asset-item>
    <a-asset-item id="test3-obj" src="assets/3.obj"></a-asset-item>
    <a-asset-item id="test4-obj" src="assets/4.obj"></a-asset-item>
  </a-assets>
