<a-box position="0 2 -10"
    color="#F55">
    <a-animation attribute="scale" begin="mouseenter" dur="300" to="2.3 2.3 2.3"></a-animation>
    <a-animation attribute="scale" begin="mouseleave" dur="300" to="2 2 2"></a-animation>
</a-box>
