<a-box 
  scale-on-mouseenter="to:5 5 5" 
  color="red"
  position="0 1.5 -5"
  rotation="0 90 45"
  scale="1 2 2">

  <a-animation 
    attribute="position"
    to="0 2.2 -5"
    direction="alternate"
    dur="2000"
    repeat="indefinite">
  </a-animation>

</a-box> 
