<!-- layout.njk -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>aframe-boilerplate</title>
    <meta name="description" content="aframe-boilerplate">
    <script src="js/bundle.js"></script>
  </head>
  <body>
  {% include "scene-client.njk" %}
  </body>
</html>
