<!-- layout.njk -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>aframe-boilerplate</title>
    <meta name="description" content="aframe-boilerplate">
    <script src="https://aframe.io/releases/0.4.0/aframe.min.js"></script>
  </head>
  <body>
  {% include "scene.njk" %}
  </body>
</html>
