{% extends "layout.njk" %}

{% block scene %}


{% block hm %} 
{% endblock %}

<a-entity
  geometry="primitive: plane; width: 4; height: auto"
  material="color: blue"
  text="value: This text will be 4 units wide."></a-entity>
<a-plane check-distance="target:a-camera;distance:1;newPos: 0 2 -10"
    material="side:double;color:#ff0000;normalScale:{&quot;x&quot;:null}"
geometry="mergeTo:null;primitive:plane" position="10 1 1"></a-plane>

<a-sky src="#skyTexture"></a-sky>
<a-plane src="#groundTexture" width="100" height="100" rotation="-90 0 0"></a-plane>
<a-entity obj-model="obj: #museum" material="side:double"></a-entity>
{% include "inline-js.njk" %}
{% endblock %}
