<a-scene>
  {% include "assets.njk" %}
  <a-box color="red" position="0 1.5 -5" rotation="0 90 45" scale="1 2 2"></a-box> 
  <a-sky src="#skyTexture"></a-sky>
  <a-plane src="#groundTexture" rotation="-90 0 0" width="30" height="30"
    repeat="2 2"></a-plane>
</a-scene>
