{% extends "layout.njk" %}

{% block scene %}
    

    <a-camera position="0 2 -10" socket-send-position="event:player-pos">
        <a-cursor></a-cursor>
    </a-camera>
    {% block hm %} 
    {% endblock %}
    <a-cylinder color="red" height="5" radius="1.5" position="1 1 1">
    </a-cylinder>
    <a-box position="0 2 -10" color="#F55"></a-box>

    <a-box position="0 2 -10"
        color="#F55" follow="target:a-entity#cone; speed:.1"></a-box>
    <a-sky src="#skyTexture"></a-sky>
    <a-plane src="#groundTexture" width="100" height="100" rotation="-90 0 0"></a-plane>
    <a-entity position="2 1 -1">
        <a-entity id="cone" geometry="primitive:cone"
            animation="property:position; dir:alternate; dur:1000;
            easing:easeInSine; loop:true; to: 0 2 0"> </a-entity>
    </a-entity>

{% endblock %}
