<a-scene>
  {% include "assets.njk" %}
  
  <a-camera>
      <a-cursor></a-cursor>
  </a-camera>

  {% include "box.njk" %}

  <a-sky src="#skyTexture"></a-sky>
  <a-plane src="#groundTexture" width="100" height="100" rotation="-90 0 0"></a-plane>
  <a-entity log="event: anEvent; message: Hey."></a-entity>
</a-scene>
