<!-- layout.njk -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>A-FRAME</title>
    <meta name="description" content="A-FRAME">
    <script src="https://aframe.io/releases/0.4.0/aframe.min.js"></script>
  </head>
  <body>
  {%block scene %} {% endblock %}
  </body>
</html>
